html,body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.ui-helper-reset {
	font-size: 99%;
}

#attach_to_post_tabs {
	border: 0px;
	background: none;
}

.ui-widget-header {
	border: 0px;
	border-bottom: 1px solid #D4CCB0;
	background: none;
}

iframe {
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 0px;
	margin: 0px;
	background: transparent;
}

/** Display Tab **/
#preview_tab_content .previewed_entity {
	width: 100%;
}


#preview_tab_content .inclusion_column {
	width: 50px;
	text-align: center;
	vertical-align: center;
	float: left;
}

#preview_tab_content .preview_column {
	float: left;
}

#preview_tab_content .preview_column .image_container {
	width: 100px;
	height: 100px;
	background-color: white;
	padding: 20px;
	margin: 20px;
	border: solid 1px black;
	display: table-cell;
	vertical-align: middle
}

#preview_tab_content .preview_column .image_container img {
	border: 0px;
}

.clear {
	clear: both;
	float: none;
}