/* 
    Document   : nextgen_display_settings
    Created on : Sep 10, 2012, 4:16:11 PM
    Author     : mweichert
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

