.gallery_page_ngg_display_settings table {
	width: 100%;
	height: 100%;
}
.gallery_page_ngg_display_settings table td {
	/*
     * The below should be used, but it doesn't display correctly on Chrome.
	 * vertical-align: top;
	*/
}
.gallery_page_ngg_display_settings table td#column1 {
	width: 140px;
}

.gallery_page_ngg_display_settings textarea {
	height: 60px;
}

.gallery_page_ngg_display_settings textarea,
.gallery_page_ngg_display_settings input[type=text] {
	width: 80%;
}

.ngg_customize_thumbnails {
	font-size: 11px;
	position: relative;
	bottom: 5px;
	color: #444444;
}

.entity_errors {
	color: red;
}

.entity_errors ul {
	margin-left: 30px;
}
.entity_errors ul li{
	list-style-type: disc;
}