.gallery_page_ngg_display_settings table {
	height: 100%;
}

.gallery_page_ngg_display_settings table tr td:first-child {
    vertical-align: top;
    text-align: right;
    padding-right: 7px;
}

.gallery_page_ngg_display_settings table tr td {
}

.gallery_page_ngg_display_settings table td#column1 {
	width: 140px;
}

.gallery_page_ngg_display_settings textarea {
	height: 60px;
}

.gallery_page_ngg_display_settings .ngg_slideshow_gallery_width,
.gallery_page_ngg_display_settings .ngg_slideshow_gallery_height,
.gallery_page_ngg_display_settings .ngg_thumbnail_dimension_width,
.gallery_page_ngg_display_settings .ngg_thumbnail_dimension_height {
    width: 72px !important;
}

.gallery_page_ngg_display_settings textarea,
.gallery_page_ngg_display_settings input[type=text],
.gallery_page_ngg_display_settings input[type=number],
.gallery_page_ngg_display_settings select {
    width: 157px;
}

#nextgen-settings-slideshow-colors-wrapper td table {
}

#nextgen-settings-slideshow-colors-wrapper td {
    text-align: left;
}

.nextgen_settings_colorpicker {
    width: 85px !important;
    text-align: center;
}

.ngg_customize_thumbnails {
	font-size: 11px;
	position: relative;
	bottom: 5px;
	color: #444444;
}

.entity_errors {
	color: red;
}

.entity_errors ul {
	margin-left: 30px;
}
.entity_errors ul li{
	list-style-type: disc;
}
