.errors {
    padding: 5px;
    color: red;
    background-color: #FAFAFA;
    border: solid 1px salmon;
    display: none;
    margin: 5px;
}

#attach_gallery,
#attach_gallery table{
    font-size: 12px;
}


/** Gallery source styles **/
#gallery_source_tab table{
    width: 100%;
}

#gallery_source_tab th {
    width: 135px;
    text-align: right;
}

#gallery_source_tab th label {
    position: relative;
    top: 7px;
}

#gallery_source_tab th, #gallery_source td {
    vertical-align: top;
}

#gallery_source_tab .plupload_container {
    padding: 0px;
}

#gallery_source_tab input[type=text],
#gallery_source_tab select,
#gallery_source_tab textarea {
    width: 100%;
}

#gallery_source_tab .plupload_filelist_footer {
    background-color: #FAFAFA;
}

/** Image Options Tab **/
#image_options_tab, .ui-accordion .ui-accordion-content {
    overflow-x: hidden;
}

#image_options_tab .image {
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    position: relative;
}
#image_options_tab .image img {
    margin: 0 auto;
}
#image_options_tab .hidden_img .thumbnail img{
    opacity: 0.5;
}
#image_options_tab .image_actions a {
    font-size: 10px;
    color: black;
    text-decoration: underline;
}
#image_options_tab .image_actions a:hover {
    text-decoration: none;
}

#image_options_tab #image_list {
    height: 120px;
    overflow: auto;
    white-space: nowrap;
    display: block;
    width: 730px;
    overflow-y: hidden;
}

#image_options_tab #edit_image_form {
    width: 100%;
    overflow: hidden;
}
#image_options_tab .image_form th{
    text-align: right;
    vertical-align: top;
}
#image_options_tab .image_form textarea {
    height: 100px;
    width: 645px;
}
#image_options_tab .image_form input[type=text] {
    width: 645px;
}

#image_options_tab #image_list_actions {
    text-align: right;
    color: black;
    font-size: 12px;
}
#image_options_tab #image_list_actions a {
    color: black;
    margin: 0 1px;
}
#image_options_tab #image_list_actions a:hover {
    color: black;
    text-decoration: none;
}
#image_options_tab .image .invalid {
    background-image: url('invalid_image.png');
    margin: 5px auto;
    position: absolute;
    bottom: 15px;
    left: -3px;
    width: 48px;
    height: 48px;
}

.errors ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Gallery Type Tab */
#gallery_type_tab .gallery_type {
    float: left;
    text-align: center;
    width: 240px;
    margin-bottom: 10px;
}

#gallery_type_tab .gallery_type .gallery_type_title {
    font-size: 10px;
    font-weight: bold;
}