html#iframely{
	padding: 0px;
	overflow: visible;
}

#iframely #wpbody-content {
	float: none;
	padding: 0px;
}

#iframely, #iframely body {
	height: auto;
}

#iframely #wpwrap {
    position: absolute;
    visibility: hidden;
}
