#iframely, #iframely body{
	padding: 0px;
	width: 100%;
	height: auto;
}

#iframely {
    position: absolute;
    opacity: 0.0;
	background-position: center center;
	background-repeat: no-repeat;
}

#iframely #wpbody-content {
	float: none;
	padding: 0px;
}